:root {
  font-family: "Trebuchet MS", sans-serif;
}

body {
  all: unset;
  display: block;
  width: 100svw;
  height: 100svh;
  background-color: #f7dfc6;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#note-content {
  all: unset;
  box-sizing: border-box;
  background-color: #f7dfc6;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 100%;
  max-width: 40em;
  flex-grow: 1;
  padding: 1em;
  font-size: larger;
}

h1 {
  color: #646464;
}

#settings-btn {
  aspect-ratio: 1/1;
  position: fixed;
  top: 1em;
  right: 1em;
  font-size: large;
  transform: rotate(45deg);
  transition-duration: 1s;
  visibility: visible;
  border: 4px outset #333;
  border-radius: 0;
}

#settings-btn:hover {
  transform: rotate(225deg);
  transition-duration: 1s;
  border-radius: 50%;
}

#settings-sheet {
  position: fixed;
  top: 0;
  right: 0;
  width: 20em;
  max-width: 90svw;
  height: 100svh;
  padding: 6em 1em 1em 1em;
  border-radius: 1em 0 0 1em;
  background-color: #6a4f4fcc;
  visibility: hidden;
  font-size: larger;
  color: #f7dfc6;
}

#settings-sheet:hover {
  visibility: visible;
}

#settings-sheet label {
  border-radius: 2em;
  padding: 0.2em 0.3em;
  background-color: #6a4f4f;
  opacity: 100%;
  user-select: none;
}

#settings-sheet input[type="checkbox"] {
  display: none;
  position: relative;
}

label:has(input[type="checkbox"]:checked)::after {
  content: "✔";
  font-size: medium;
  color: #f7dfc6;
}
